[Desktop Entry]
Name=org-protocol
Exec=emacsclient -e (+capture-frame\ \"%u\")
Type=Application
Terminal=false
NoDisplay=true
Categories=System;
MimeType=x-scheme-handler/org-protocol;
