#!/usr/bin/env sh
# This file is loaded at the beginning of the X user session.

# In order to see the current layout, run `setxkbmap -query`
setxkbmap -layout us,pt,us -variant intl,,colemak -option ctrl:nocaps,shift:both_capslock,compose:rwin

export _JAVA_OPTIONS='-Dawt.useSystemAAFontSettings=on -Dswing.aatext=true -Dswing.defaultlaf=com.sun.java.swing.plaf.gtk.GTKLookAndFeel'
