! Font configuration
Xft.antialias: true

Xft.hinting: true
Xft.hintstyle: hintslight

Xft.rgba: rgb
Xft.lcdfilter: lcddefault

Xft.autohint: false

Xft.embeddedbitmap: false

! Prevent unreadable UI/text
*TkTheme:   clam
*background: #d9d9d9
*foreground: #000C1A
